//jQuery
script(type='text/javascript', src='/lib/jquery/jquery.js')

//Bootstrap
script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.min.js')

//AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-router/release/angular-ui-router.min.js')
script(type='text/javascript', src='/lib/angular-animate/angular-animate.min.js')
script(type='text/javascript', src='/lib/ngAnimate-animate.css/animate.js')
script(type='text/javascript', src='/lib/angularLocalStorage/src/angularLocalStorage.js')

//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/retailers.js')
script(type='text/javascript', src='/js/services/medleys.js')
script(type='text/javascript', src='/js/services/users.js')
script(type='text/javascript', src='/js/services/votes.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/home.js')
script(type='text/javascript', src='/js/controllers/create.js')
script(type='text/javascript', src='/js/controllers/show.js')
script(type='text/javascript', src='/js/controllers/root.js')
script(type='text/javascript', src='/js/init.js')

//Animation Scripts
script(type='text/javascript', src='/lib/move.js/move.min.js')
script(type='text/javascript', src='/js/animations.js')

//Gridster
script(type='text/javascript', src='/lib/gridster/dist/jquery.gridster.min.js')

//niceScroll
script(type='text/javascript', src='/lib/jquery-nicescroll/jquery.nicescroll.min.js')

//typeKit
script(type='text/javascript' src='//use.typekit.net/jan1nhs.js')
script(type='text/javascript').
  try{Typekit.load();}catch(e){}

//Livereload script rendered 
// script(type='text/javascript', src='http://localhost:35729/livereload.js')	
