<div id="hashtag-page" ng-controller="HashtagController" ng-init="initializeHashtagPage()">
    <div id="user-container" class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-3 hidden-sm hidden-xs" style="padding-top:50px;">

                        <div id="side-container" class="folders-side-container">
                            <p class="st-centered">
                                <img class="page-image" draggable="false" ng-src="img/hashtag_image.png">
                            </p>
                            <h6 class="st-centered">Medleys with this hashtag:</h6>
                            <h1 class="st-centered user-profile-name">#{{ hashtag }}</h1>
                            <h4>Your Saved Medleys</h4>
                            <small style="font-size:10px;">Drag a Medley over a folder to save it</small>
                            <ul class="list-unstyled">

                                <!-- UnAuthenticated -->
                                <li ng-if="!user" ng-click="noUserFolder()" ui-on-Drop="addMedleyToFolder($event,$data)" drop-target>
                                    <div class="folder-link">
                                        <i class="fa fa-folder"></i> Favorites
                                    </div>
                                </li>
                                <!-- Authenticated -->
                                <li class="folder" data-id="{{ folder._id }}" ui-on-Drop="addMedleyToFolder($event,$data)" ng-repeat="folder in folders" drop-target>
                                    <div class="folder-link" ui-sref="folder({ folderId: folder._id })">
                                        <i class="fa fa-folder"></i> {{ folder.title }}
                                    </div>
                                    <i class="fa fa-times pull-right" ng-click="deleteFolder(folder)"></i>
                                </li>
                                <li ng-click="newFolderModal()">
                                    <div class="folder-link">
                                        <i class="fa fa-plus"></i> Create New Folder
                                    </div>
                                </li>

                            </ul>
                        </div><!-- #side-container -->

                </div> <!-- col-md-4 -->

                <div class="medleys-list col-md-6"> 

                    <div class="medley-small {{ medley.template }}-embed" ng-repeat="medley in medleys">
                        <div class="medley-hashtags">
                            <a class="hashtag" href="#!/hashtag/{{ hashtag | removehashtag }}" ng-repeat="hashtag in medley.hashtags">{{ hashtag }}</a>
                        </div>
                        <div 
                            class="medley-box medley-box-small" 
                            style="height:{{medley.height}}px" 
                            ui-draggable="{{ draggable }}" 
                            ng-model="medley"
                            drag="medley"
                        >
                            <div class="medley-item" style="position:absolute;width:{{item.width}}px;height:{{item.height}}px;top:{{item.top}}px;left:{{item.left}}px;display:block;" ng-repeat="item in medley.items" medley-item>
                                <img ng-src="{{item.images.medium}}" draggable="false">
                            </div>
                        </div>
                        <div class="medley-info" style="margin-bottom:40px;">
                            <button ui-sref="show({ basketId: medley.short_id })" class="view-button btn btn-primary btn-xs" style="margin-right:5px;">View Medley</button>
                            <a class="views"> <i class="fa fa-eye"></i> {{ medley.views }}</a> 
                            <a class="votes {{ medley.short_id }}" vote-link="{{ medley.short_id }}"><i class="fa fa-heart" ng-if="medley.voted"></i><i class="fa fa-heart-o" ng-if="!medley.voted"></i> {{medley.votes}}</a>
                            <a class="author" ui-sref="user({ username: medley.user.username })"><i class="fa fa-user"></i> {{ medley.user.username }}</a> <a class="created"><i class="fa fa-calendar"></i> {{ medley.created  | date:'short' }}</a> <a class="share" ng-click="shareMedley(medley)"><i class="fa fa-globe"></i> Share Medley</a>
                        </div>
                    </div>

                    <div id="loading-box" ng-show="loading_medleys">
                        <i class="fa fa-refresh fa-spin" style="margin-right:2px;"></i> 
                        Loading Medleys
                    </div>

                    <div id="loading-box" ng-show="end_medleys">
                        No More Medleys...
                    </div>

                </div> <!-- col-md-6 -->
            </div><!-- row -->

        </div><!-- col-md-12 -->
    </div><!-- row -->
</div>
