<div class="row" ng-init="MedleysByFeatured()">
	<div id="home-container" class="col-md-12">
		<div class="row" style="padding:15px 0px;">
			<div class="col-md-3">
			</div>
			<div class="col-md-offset-1 col-md-6">
				
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div id="side-container" class="folders-side-container">
					<div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle">
                            	{{ feed }} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu feed-menu">
                              <li ng-click="setFeed('featured')"><i class="fa fa-angle-right"></i>Featured Medleys</li>
                              <li ng-click="setFeed('voted')"><i class="fa fa-angle-right"></i>Most Voted Medleys</li>
                              <li ng-click="setFeed('viewed')"><i class="fa fa-angle-right"></i>Most Viewed Medleys</li>
                              <li ng-click="setFeed('recent')"><i class="fa fa-angle-right"></i>Most Recent Medleys</li>
                            </ul>
                    </div><!-- .dropdown -->


					<h4>Your Saved Medleys</h4>
					<small style="font-size:10px;">Drag a Medley over a folder to save it</small>
					<ul class="list-unstyled">

						<!-- UnAuthenticated -->
						<li ng-if="!user" ng-click="noUserFolder()" ui-on-Drop="addMedleyToFolder($event,$data)" drop-target>
							<div class="folder-link">
								<i class="fa fa-folder"></i> Favorites
							</div>
						</li>
						<!-- Authenticated -->
						<li class="folder" data-id="{{ folder._id }}" ui-on-Drop="addMedleyToFolder($event,$data)" ng-repeat="folder in folders" drop-target>
							<div class="folder-link" ui-sref="folder({ folderId: folder._id })">
								<i class="fa fa-folder"></i> {{ folder.title }}
							</div>
							<i class="fa fa-times pull-right" ng-click="deleteFolder(folder)"></i>
						</li>
						<li ng-click="newFolderModal()">
							<div class="folder-link">
								<i class="fa fa-plus"></i> Create New Folder
							</div>
						</li>

					</ul>
				</div><!-- #side-container -->
			</div> <!-- col-md-6 -->
			<div class="col-md-6">
				<div class="home-col-left">

					<div class="medley-small {{ medley.template }}-embed" ng-repeat="medley in medleys">
						<div class="medley-hashtags">
							<a class="hashtag" href="#!/hashtag/{{ hashtag | removehashtag }}" ng-repeat="hashtag in medley.hashtags">{{ hashtag }}</a>
						</div>
						<div class="medley-box medley-box-small" style="height:{{medley.height}}px" 
						ui-draggable="{{ draggable }}" drag="medley">
							<div class="medley-item" style="position:absolute;width:{{item.width}}px;height:{{item.height}}px;top:{{item.top}}px;left:{{item.left}}px;display:block;" ng-repeat="item in medley.items" medley-item>
								<img ng-src="{{item.images.medium}}" draggable="false">
							</div>
						</div>
						<div class="medley-info" style="margin-bottom:40px;">
							<button ui-sref="show({ basketId: medley.short_id })" class="view-button btn btn-primary btn-xs" style="margin-right:5px;">View Medley</button>
							<a class="views"> <i class="fa fa-eye"></i> {{ medley.views }}</a> 
							<a class="votes {{ medley.short_id }}" vote-link="{{ medley.short_id }}"><i class="fa fa-heart" ng-if="medley.voted"></i><i class="fa fa-heart-o" ng-if="!medley.voted"></i> {{medley.votes}}</a>
						    <a class="author" ui-sref="user({ username: medley.user.username })"><i class="fa fa-user"></i> {{ medley.user.name }}</a>
						</div>
					</div>

				</div>
			</div> <!-- col-md-6 -->

		</div> <!-- .row -->

	</div><!-- #main-container -->
</div> <!-- row -->
