<div id="user-page" ng-init="MedleysByProfile()">
	<div id="user-container" class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs" style="padding-top:40px;">

                    <div id="side-container" class="folders-side-container" ng-init="loadProfile()">
                        <p class="st-centered">
                             <img class="user-profile-image" draggable="false" ng-src="http://graph.facebook.com/{{ profile.username}}/picture?type=large">
                        </p>
                        <h1 class="user-profile-name st-centered">{{ profile.name }}</h1>
                        <div id="account-options" class="row" ng-show="{{ user._id === profile._id }}">
                            <div class="col-md-12">
                                <hr>
                                <h4>Account Options</h4>
                                <form class="form" role="form">
                                    <div class="form-group">
                                        <small>Amazon Affiliate Code:</small>
                                        <input type="text" class="form-control" placeholder="Amazon Affiliate Code" ng-model="user.affiliate">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary btn-sm">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!-- #side-container -->

				</div> <!-- col-md-3 -->
				<div id="user-profile-medleys" class="medleys-list col-md-6"> 

					<div class="medley-small {{ medley.template }}-embed" ng-repeat="medley in medleys">
						<div class="medley-hashtags">
							<a class="hashtag" href="#!/hashtag/{{ hashtag | removehashtag }}" ng-repeat="hashtag in medley.hashtags">{{ hashtag }}</a>
						</div>
						<div class="medley-box medley-box-small" style="height:{{medley.height}}px" 
						ui-draggable="{{ draggable }}" drag="medley">
							<div class="medley-item" style="position:absolute;width:{{item.width}}px;height:{{item.height}}px;top:{{item.top}}px;left:{{item.left}}px;display:block;" ng-repeat="item in medley.items" medley-item>
								<img ng-src="{{item.images.medium}}" draggable="false">
							</div>
						</div>
						<div class="medley-info" style="margin-bottom:40px;">
							<button ui-sref="show({ basketId: medley.short_id })" class="view-button btn btn-primary btn-xs" style="margin-right:5px;">View Medley</button>
							<a class="views"> <i class="fa fa-eye"></i> {{ medley.views }}</a> 
							<a class="votes {{ medley.short_id }}" vote-link="{{ medley.short_id }}"><i class="fa fa-heart" ng-if="medley.voted"></i><i class="fa fa-heart-o" ng-if="!medley.voted"></i> {{medley.votes}}</a>
						    <a class="author" ui-sref="user({ username: medley.user.username })"><i class="fa fa-user"></i> {{ medley.user.name }}</a>
						</div>
					</div>

				</div> <!-- col-md-8 -->
			</div><!-- row -->

		</div><!-- col-md-12 -->
	</div><!-- row -->

</div><!-- UserController -->
