<section data-ng-controller="IssuesController">
	<div class="row">
		<div id="main-container" class="col-md-offset-1 col-md-10">
			<div class="row">
				<div id="title-tab" class="">
					<h1 ng-href="/"><span style="font-weight:300;letter-spacing:-1px;">Better</span><span style="font-weight:600;letter-spacing:-1px;">Town</span></h1>
				</div>
			</div> <!-- row -->
			<div class="row">
				<div id="body-container" class="col-md-12">
					<div class="row">
						<div id="issue-edit-container" class="col-md-4">
						</div>
						<div id="issue-edit-map-container" class="col-md-8">
						</div>
					</div>
				</div> <!--#body-container-->
		</div><!-- #main-container -->
	</div> <!-- row -->

	<!-- Modal -->
	<div id="issueModal" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">Report An Issue in {{place.name}}</h4>
	      </div>
	      <div class="modal-body">
	        <form class="form-horizontal" data-ng-submit="createIssue()">
				<div class="form-group st-centered">
					<input type="text" class="form-control" data-ng-model="title" id="title" placeholder="Issue Title">
				</div>
				<div class="form-group st-centered">
					<textarea data-ng-model="description" class="form-control" id="content" cols="30" rows="10" placeholder="Issue Description"></textarea>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-primary" value="Report Issue">
				</div>
			</form>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</section>