<div class="" data-ng-controller="HeaderController">
    
    <!-- Authenticated -->
    <div id="top-bar" class="col-md-offset-3 col-md-7">
        <ul class="list-inline pull-right" data-ng-show="global.authenticated">
            <li>
                <a href="/signout">Sign Out</a>
            </li>
        </ul>
    </div>
    <!-- UnAuthenticated -->
    <div class="row" data-ng-hide="global.authenticated">
        <div id="top-bar" class="col-md-offset-3 col-md-7">
            <ul class="list-inline pull-right" data-ng-hide="global.authenticated">
                <li>
                    <a href="/auth/facebook">Register With Facebook</a>
                </li>
                <li>
                    <a href="/auth/facebook">Sign In</a>
                </li>
            </ul>
        </div>
    </div>
</div>