	<div class="row">
		<div id="search-screen-body" class="col-md-offset-2 col-md-8">
			<div class="row">   
				<h4 class="st-centered st-white">Search Issues Within Your Town...</h4>
				<div class="col-md-offset-2 col-md-8">
	                  <input type="text" class="form-control input-lg" ng-model="chosenPlace" placeholder="Enter A Town" googleplace>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 st-centered" style="padding-top:20px;">
					<button class="btn btn-primary btn-search" type="button" ng-click="loadTown()" style="border:1px solid #F36865">
						Go
					</button>
				</div>
			</div>
		</div><!-- #main-container -->
	</div> <!-- row -->

