
body {background:#60b1d1;padding:10px;font-weight:400;font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;-webkit-font-smoothing: antialiased;}
input:focus, textarea:focus, select:focus, a:focus, button:focus {outline:none!important;}
.btn-primary {background:#f36865!important;border:none;letter-spacing:0px;}
.btn-primary:hover {background:#f57e7b!important;cursor:pointer;}
.popover-content {padding:5px 5px;}

.st-centered {text-align:center;}
.st-no-margin {margin:0px;}
.st-no-padding {padding:0px;}
.st-capitalize {text-transform: capitalize;}
.st-white {color:#ffffff;}

.top-bar {padding:0px;}
.top-bar li {padding:0px;}
.top-bar a {color:#e9f8ff;}

#main-container {background:transparent;}
#title-tab {width:200px;margin:0px;height:40px;background:#acca81;padding-top:10px;border-radius: 4px 4px 0px 0px;background:#B4D387;}
#title-tab h1 {font-size:24px;margin:0px;color:#fff;text-align:center;}
#body-container {min-height:200px;overflow:hidden;background:transparent;padding-bottom:0px;border-radius:0px 6px 6px 6px;margin-bottom:20px;}

#instructions-container h3 {margin-top:30px;margin-bottom:0px;}

#search-container {min-height:80px;padding-top:15px;background:#B4D387;border-radius:0px 0px 0px 6px;overflow:hidden;}
#search-container input {border:none;text-align:center;border-radius:4px;text-transform: capitalize;}
#search-container .dropdown {width:160px;}
.pac-container  {background:#f6f6f6;height:auto;width:100%;margin-top:5px;padding:10px;border-radius:4px;border:none;letter-spacing:0px!important;}
.pac-matched    {font-size:19px;font-weight:bold;color:#444;letter-spacing:-1px;}
.pac-item       {padding:5px;font-size:19px;color:#888;font-weight:500;border:none;}
.pac-item-query {font-size:19px;color:#888;}
.pac-item:hover {cursor: pointer;background:#60B1D1;color:#ffffff!important;}
.pac-item:hover .pac-matched {color:#ffffff;}
.pac-item:hover .pac-item-query {color:#fff;}

#issues-container {min-height:400px;background:#60b1d1;margin-top:0px;border-radius: 0px 6px 0px 0px;}

#bettertown-map-container {display:block;position:relative;min-height:450px;background:#B4D387;padding:0px 10px 10px 10px;}
#bettertown-map {width:100%;min-height:350px;}
.angular-google-map-container {
    width: 100%;
    height: 400px;
}

#options-container {height:35px;margin-top:10px;}
#options-container h5 {color:#fff;text-transform: capitalize;}


#issueModal {color:#fff;}
#issueModal .modal-content {background:#eaeaea;border:none;-webkit-box-shadow: none;box-shadow: none;}
#issueModal .modal-header {border:none;text-align: center}
#issueModal .modal-header h4 {margin:0px;color:#444;}
#issueModal .modal-body {padding:0px 10px 10px 10px;}
#issueModal input[type=text], #issueModal textarea {background:#fff;-webkit-border-radius: 0 0 0 0;border-radius: 0 0 0 0;color:#444444;text-align: center;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);border:none;}
#issueModal textarea {height:100px;}
#issueModal ::-webkit-input-placeholder {color: rgba(0,0,0,0.5); }
#issueModal :-moz-placeholder { /* Firefox 18- */ color: rgba(0,0,0,0.5); }
#issueModal ::-moz-placeholder {  /* Firefox 19+ */ color: rgba(0,0,0,0.5); }
#issueModal :-ms-input-placeholder {color: rgba(0,0,0,0.5); } 
#issueModal #issue-map-container {height:250px;background:#ccc;overflow:hidden;-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);}
#issueModal #issue-map-options   {margin-top:10px;margin-bottom:10px;}
#issueModal #issue-title {margin:10px 0px;}
#issueModal #issue-actions {margin:10px 0px;}
.modal-backdrop    {background:#60b1d1;}
.modal-backdrop.in {background:#60b1d1;opacity:0.8;}

#issue-edit-container {background:#b4d387;min-height:200px;}
#issue-edit-map-container {min-height:200px;}


/* Mapbox Styles */
  /* Navigation */
  .leaflet-container.dark .leaflet-bar {background:rgba(0,0,0,0.1)!important;border:none!important;}
  .leaflet-bar a {opacity: 0.6!important}
  .leaflet-bar a:hover {opacity: 1!important}
  .leaflet-bar a, .leaflet-bar a:hover, .leaflet-container.dark .leaflet-bar a, .leaflet-container.dark .leaflet-bar a:hover {
      border:none!important;
  }
  /* Popup */
  .leaflet-popup {
    position:absolute;
    text-align:center;
    pointer-events:none;
    }
  .leaflet-popup-content-wrapper {
    padding:10px!important;
    text-align:left;
    pointer-events:all;
    }
  .leaflet-popup-content {
    padding:10px 10px 15px;
    margin:0;
    line-height:inherit;
    }
  .leaflet-popup-tip-container {
    width:20px;
    height:20px;
    margin:0 auto;
    position:relative;
    }
  .leaflet-popup-tip {
    width:0;
      height:0;
    margin:0;
      border-left:10px solid transparent;
      border-right:10px solid transparent;
      border-top:10px solid #fff;
    -webkit-box-shadow:none;
            box-shadow:none;
    }
  .leaflet-popup-close-button {
    display:block;
    content:'';
    text-indent:-999em;
    position:absolute;
    top:0;right:0;
    width:30px;
    height:30px;
    pointer-events:all;
    }
    .leaflet-popup-close-button:hover {
      background-color:#f8f8f8;
      }

  .leaflet-popup-scrolled {
    overflow:auto;
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd;
    }