
body {background-size:100% auto;padding:0px 10px 0px 10px;font-weight:400;font-family:"proxima-nova",sans-serif!important;-webkit-font-smoothing: antialiased;}
input:focus, textarea:focus, select:focus, a:focus, button:focus {outline:none!important;}
.popover-content {padding:5px 5px;}
.form-control {border:0px;-webkit-box-shadow:none;box-shadow:none;}
.form-control:focus {-webkit-box-shadow:none;box-shadow:none;}
.alert, .alert-danger {background:transparent!important;border:none!important;color:#df7373!important;margin:0px;padding-top:0px;}
/* Style Placeholder Text --> */ ::-webkit-input-placeholder { font-family:"proxima-nova";text-align:center!important;font-weight:100; } :-moz-placeholder { /* Firefox 18- */ font-family:"proxima-nova";text-align:center!important;font-weight:100;  } ::-moz-placeholder {  /* Firefox 19+ */ font-family:"proxima-nova";text-align:center!important;font-weight:100;  } :-ms-input-placeholder { font-family:"proxima-nova";text-align:center!important;font-weight:100;  } .form-control:focus {border: none; outline: 0; -webkit-box-shadow:none; box-shadow:none; }
hr {border-top:1px solid rgba(0,0,0,0.1);}
.disabled {opacity:0.3!important;}
.btn-danger				{background:#f57b7b!important;border:1px solid #f57b7b!important;letter-spacing:0px;-webkit-box-shadow: 0 2px 0 0 #cd7373;box-shadow: 0 2px 0 0 #cd7373;color:#fff!important;}
.btn-danger:hover 		{background:#fa9999!important;border:1px solid #fa9999!important;cursor:pointer;color:#fff;}
label {font-weight:400;}

.st-centered {text-align:center!important;}
.st-no-margin {margin:0px;}
.st-no-padding {padding:0px;}
.st-capitalize {text-transform: capitalize;}
.st-white {color:#ffffff;}
.st-shadow {-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);}
.st-blur {-webkit-filter: blur(1px); -moz-filter: blur(1px); -o-filter: blur(1px); -ms-filter: blur(1px); filter: blur(1px);}
.st-center-element {margin:0px auto!important;}
.m-link {color:#69a8ef!important;}
.m-link:hover   {cursor:pointer;color:#93c4fc!important;}
.notice-success {color:#a6c776!important;}

/* Header */
.logo img {max-width:160px;}
.logo {margin-bottom:10px;}
#search-container 			{height:55px;}
#search-container input 	{height:45px!important;text-align:center;-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);}
#etsy-store-container 		{padding-top:5px;height:55px;}
#etsy-store-container input {height:45px!important;text-align:center;background:#fff;border:1px solid #ddd;border-bottom:none;-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);}
.status					  	{color:#666;font-size:16px;margin:3px 0px 5px 0px;}
.status .fa-refresh       	{color:#7bb4f5;font-size:18px;margin-right:4px;}
.status .fa-times-circle  	{color:#F57E7B;font-size:18px;margin-right:4px;}
.status span 			  	{padding-left:5px;}
.profile-image              {margin-right:5px;}

/* Home Page */
#home-container 	{margin-top:5px;}
#home-container h3  {color:#444;margin-bottom:20px;}
.home-col-left 		{display:block;float:left;width:545px;height:auto;margin-right:25px;}
.home-col-right 	{display:block;float:left;width:545px;height:auto;margin-right:25px;}
.feed-menu          {padding:10px 0px;margin-top:4px!important;}
.feed-menu li 		{padding:5px 10px 5px 10px!important;border-bottom:1px solid rgba(0,0,0,0.03);margin-bottom:0px!important;-webkit-box-shadow: none!important;box-shadow: none!important;}
.feed-menu li:hover {background:rgba(0,0,0,0.05)!important;color:#666666!important;cursor:pointer;-webkit-border-radius:0px;border-radius:0px;-webkit-box-shadow: none!important;box-shadow: none!important;}
#loading-box        {width:50%;color:#bbb;font-size:20px;padding:20px 0px;}

/* Search Page */
.results-container {margin-top:10px;min-height:550px;}
.result 	  {margin-bottom:10px;height:150px;background:transparent!important;padding-left:15px;}
.result-tite  {font-weight:bold;line-height:22px;}
.result:hover {cursor:pointer;}
.result-image-container {background:transparent;height:150px;padding:10px;text-align:center;background:rgba(0,0,0,0.02);border-top:1px solid rgba(0,0,0,0.03);border-bottom:1px solid rgba(0,0,0,0.03);border-left:1px solid rgba(0,0,0,0.03);overflow:hidden;-webkit-border-radius:6px 0px 0px 6px;border-radius:6px 0px 0px 6px;}
.result-image {text-align:center;max-height:90px;max-width:100px;background:#fff;padding:4px;-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);border-top: 1px solid rgba(0,0,0,0.1);border-right: 1px solid rgba(0,0,0,0.1);border-left: 1px solid rgba(0,0,0,0.1);}
.result-title-container {height:150px;background:rgba(0,0,0,0.02);overflow:hidden;border-top:1px solid rgba(0,0,0,0.03);border-bottom:1px solid rgba(0,0,0,0.03);}
.result-retailer-logo {max-width:70px;max-height:50px;}
.no-image-box {display:block;height:70px;width:100px;color:#888;font-size:14px;margin:10px auto 0px auto;border:2px dashed rgba(0,0,0,0.05);padding:22px 5px;}
.add-btn {height:150px;background:#7bb4f5;color:#fff;padding-top:8%;font-size:25px;text-align:center;-webkit-border-radius:0px 6px 6px 0px;border-radius:0px 6px 6px 0px;}
.add-btn i {padding-left:4px;}
.add-btn:hover {cursor:pointer;background:#93c4fc;}
#publish-notice {display:block;height:40px;width:100%;line-height:40px;color:#999;}
#scroll-search-searching {color:#7bb4f5;font-size:20px;padding-top:15px;padding-bottom:20px;}
#scroll-search-empty     {color:#F57E7B;font-size:20px;padding-top:8px;padding-bottom:20px;}
.new-basket-box 		   {position: fixed;right:15%;overflow:auto;-webkit-border-radius: 6px;border-radius: 6px;max-height:500px;padding-top:10px;padding-bottom:10px;margin-top:20px;margin-left:100px;min-height:50px;width:250px;background:rgba(0,0,0,0.04);-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);}
.new-basket-item 		   {display:block;width:100%;-webkit-border-radius: 6px;border-radius: 6px;overflow:hidden;height:60px;margin:7px auto;-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);}
.new-basket-item-image     {display:block;float:left;height:60px;width:30%;background:#fff;text-align:center;padding-top:5px;}
.new-basket-item-image img {max-height:90%;max-width:90%;margin:0 auto;-webkit-border-radius: 3px;border-radius: 3px;}
.new-basket-item-title     {display:block;float:left;height:60px;width:60%;background:rgba(0,0,0,0.05);font-size: 12px;line-height:14px;padding:15px 5px 5px 5px;}
.new-basket-item-options   {display:block;float:left;height:60px;width:10%;background:rgba(0,0,0,0.05);text-align:right;padding-right:8px;padding-top:5px;color:#f6f6f6;}
.new-basket-item-options i:hover {cursor:pointer;color:#f57e7b;}
#product-preview {min-height:600px;height:auto;overflow:auto;width:30%;margin-top:-45px;position: fixed;-webkit-border-radius: 9px;border-radius: 9px;right:10%;background:#fff;border:1px solid rgba(0,0,0,0.1);}
.product-preview-image-container {min-height:280px;}
.product-preview-image {max-width:90%;max-height:350px;margin-top:20px;-webkit-border-radius: 9px;border-radius: 9px;}
.product-preview-no-image {width:80%;height:200px;margin:45px auto 0px auto;border: 2px dashed #eaeaea;-webkit-border-radius: 12px;border-radius: 12px;}
.product-preview-no-image h4 {margin-top:90px;color:#ccc;font-weight:500;}
.product-preview-title {margin-top:20px;margin-bottom:15px;color:#444;text-align:center;line-height:22px;}
.product-preview-details {padding:0px 15px;margin-bottom:20px;}
.product-preview-description {margin-bottom:15px;color:#666;overflow:hidden;}
.product-preview-price {font-size:24px;color:#444;font-weight:bold;margin-top:0px;}

/* Side Container */
#side-container						{display:block;position:fixed;padding:10px;background:rgba(0,0,0,0.04);-webkit-border-radius: 6px;border-radius: 6px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);}
.profile-side-container	            {width:350px;}
.hashtag-side-container				{}
.folders-side-container             {min-height:300px;max-height:400px;overflow:auto;width:200px;}
.folders-side-container small       {color:#888;}
.folders-side-container h4          {font-size:16px;margin-top:15px;margin-bottom:0px;padding:0px;}
.folders-side-container ul          {margin-top:10px;}
.folders-side-container li          {background:rgba(255,255,255,0.8);padding:0px;margin-bottom:5px;height:30px;-webkit-border-radius: 3px;border-radius: 3px;-webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);}
.folders-side-container li:hover    {-webkit-box-shadow: 0 1px 0 0 #608fc5;box-shadow: 0 1px 0 0 #608fc5;}
.folders-side-container .folder-link {display:block;float:left;height:30px;width:85%;padding:5px;}
.folders-side-container .droppable, .folders-side-container li:hover   {background:#7bb4f5;color:#ffffff;cursor: pointer;}
.folders-side-container li:active   {background:#6393ca;}
.folders-side-container li i        {color:rgba(0,0,0,0.2);margin-right:5px;}
.folders-side-container li .fa-times       {margin-top:2px;}
.folders-side-container li .fa-times:hover {color:#ff7e7b;}
.page-image       	                {max-width:100px;max-height:100px;background:#7bb4f5;padding:4px;-webkit-box-shadow: 0 2px 0 0 #608fc5;box-shadow: 0 2px 0 0 #608fc5;-webkit-border-radius: 6px;border-radius: 6px;}


/* Right Side Container */

/* Folder Page */
#folder-page .medleys-list   		{padding-top:40px;min-height:600px;} 
.folder-image                       {max-width:100px;max-height:100px;background:#7bb4f5;padding:20px;-webkit-box-shadow: 0 2px 0 0 #608fc5;box-shadow: 0 2px 0 0 #608fc5;-webkit-border-radius: 6px;border-radius: 6px;color:#fff;font-size:40px;font-weight:bold;text-align:center;}              
/* Hashtag Page */
#hashtag-page .medleys-list 		{padding-top:40px;}
/* Profile Page */
#profile-page .medleys-list 		{padding-top:35px;}
.user-profile-name       			{font-size:25px;color:#555;margin-top:5px;}
.user-profile-image         		{max-width:100px;max-height:100px;background:#fff;padding:4px;border-top:1px solid rgba(0,0,0,0.15);border-right:1px solid rgba(0,0,0,0.15);border-left:1px solid rgba(0,0,0,0.15);-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.25);box-shadow: 0 2px 0 0 rgba(0,0,0,0.25);}
/* User Page */
#user-page .medleys-list 			{padding-top:35px;}
.user-page-image                    {max-width:40px;max-height:40px;padding:4px;-webkit-border-radius: 6px;border-radius: 6px;}
.user-page-image:hover              {cursor:pointer;}
/* Admin */
.admin-box    {margin-top:10px;min-height:500px;background:rgba(0,0,0,0.02);-webkit-border-radius: 6px;border-radius: 6px;}
.admin-box h1 {font-size:14px;}
.users-list li {font-size:12px;line-height:14px;padding:5px 5px 10px 5px;border-bottom:1px solid rgba(0,0,0,0.05);}
.users-list li:hover {cursor:pointer;background:rgba(0,0,0,0.05);}

/* Footer */
.footer p {color:#bbb;font-family:"proxima-nova",sans-serif!important;text-align:right;font-weight:100;margin-top:20px;}

/* Modals */
.modal p, .modal h1, .modal h2, .modal h3, .modal h4, .modal h5, .modal h5, .modal div, .modal span {color:#444444;}
.modal a {color:#7bb4f5!important;}
.modal a:hover {color:#93c4fc!important;}
.modal-backdrop    {background: #000;}
.modal-backdrop.in {opacity:0.6;}

	/* Sign In */
	.signin-modal .modal-content {background:#f6f6f6;height:auto;padding:0px;border:none!important;-webkit-box-shadow: none!important;box-shadow:none!important;}
	.signin-modal .modal-content-container {padding:0px 30px 50px 30px;}							   
	.signin-modal .close-container {height:30px;padding-right:8px;padding-top:3px;margin-bottom:0px;}
	.signin-modal h3   {font-weight:300!important;color:#555;margin-top:20px;margin-bottom:15px;}
	.signin-modal h5   {font-weight:300!important;color:#888;margin-bottom:20px;font-size:18px;}
	.signin-modal .form-group {margin-bottom:8px;}
	#signup-form       {background: rgba(0,0,0,0.05);padding:10px;-webkit-border-radius: 6px;border-radius: 6px;max-width:350px;margin:0px auto;}
	#signup-form input {max-width:300px;margin:0px auto;}
	#signin-form       {background: rgba(0,0,0,0.05);padding:10px;-webkit-border-radius: 6px;border-radius: 6px;max-width:350px;margin:0px auto;}
	#signin-form input {max-width:300px;margin:0px auto;}
	.signin-modal .alert {padding:0px 0px 10px 0px;}

	/* Hashtag */
	.hashtag-modal .modal-content    {background:#f6f6f6;padding:0px;border:none!important;-webkit-box-shadow: none!important;box-shadow:none!important;}
	.hashtag-modal .close-container  {height:30px;padding-right:8px;padding-top:3px;}
	.hashtag-modal .modal-content-container {padding:0px 30px 50px 30px;}	
	.hashtag-modal .modal-content h1 {font-weight:300!important;color:#666;}
	.hashtag-modal .modal-content h5 {font-weight:300!important;color:#888;margin-bottom:20px;font-size:18px;}
	.hashtag-modal .modal-content #hashtags-input {max-width:400px;color:#555;text-align:center;padding-top:20px;padding-bottom:20px;margin: 0 auto;height:100px;overflow:auto;margin-bottom:20px;-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);}
	.hashtag-modal .modal-content #hashtags-input span {color:#7bb4f5;}

	/* Folders */
	.folder-modal .modal-content    {background:#f6f6f6;padding:0px;border:none!important;-webkit-box-shadow: none!important;box-shadow:none!important;}
	.folder-modal .close-container  {height:30px;padding-right:8px;padding-top:3px;}
	.folder-modal .modal-content-container {padding:0px 30px 50px 30px;}	
	.folder-modal .modal-content h1 {font-weight:300!important;color:#666;}
	.folder-modal .modal-content h5 {font-weight:300!important;color:#888!important;margin-bottom:20px;font-size:18px;}
	.folder-modal .modal-content #folder-input {max-width:300px;text-align:center;border-top:1px solid rgba(0,0,0,0.08);border-right:1px solid rgba(0,0,0,0.08);border-left:1px solid rgba(0,0,0,0.08);padding-top:5px;padding-bottom:5px;margin: 0 auto;height:45px;overflow:auto;margin-bottom:20px;-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);}
	.folder-modal .modal-content #folder-input span {color:#7bb4f5;}

	/* Account */
	.account-modal .modal-content       	  {background:#f6f6f6;padding:0px;border:none!important;-webkit-box-shadow: none!important;box-shadow:none!important;}
	.account-modal .close-container     	  {height:30px;padding-right:8px;padding-top:3px;}
	.account-modal .modal-content-container   {padding:0px 30px 50px 30px;}	
	.account-modal .form                      {text-align:center;background: rgba(0,0,0,0.03);padding:10px;max-width:350px;margin:0px auto;-webkit-border-radius: 6px;border-radius: 6px;}	
	.account-modal .form label                {color:#555;}
	.account-modal .form .well                {border:1px solid rgba(0,0,0,0.05);background:rgba(0,0,0,0.5);}
	.account-modal .form .btn                 {background:#7bb4f5!important;color:#ffffff!important;}
	/*.account-modal .modal-content h3    {font-weight:300!important;color:#666;margin-bottom:20px;margin-top:0px;}
	.account-modal .modal-content h5    {font-weight:300!important;color:#888!important;margin-bottom:20px;font-size:18px;}
	.account-modal .modal-content .form-control {max-width:300px;text-align:center;margin-bottom:5px;overflow:auto;-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);}
	.account-modal .modal-content #folder-input span {color:#7bb4f5;}
	.account-modal .input-group-btn     {padding:0px!important;}
	.account-modal form 			    {max-width:250px;margin:0px auto;text-align:center;}
	.account-modal .form-group          {margin:0px;}
	.account-modal label                {font-size:16px;margin-bottom:10px;}
	.account-modal .form-description    {font-size:12px;text-align: center;}*/

	/* Published Success */
	.published-share-modal .modal-content {background:#f6f6f6;height:auto;padding:0px;border:none!important;-webkit-box-shadow: none!important;box-shadow:none!important;}
	.published-share-modal .modal-content-container {padding:0px 30px 50px 30px;}							   
	.published-share-modal .close-container {height:30px;padding-right:8px;padding-top:3px;}
	.published-share-modal h1 {font-weight:300!important;color:#666!important;}
	.published-share-modal h5 {font-weight:300!important;color:#888!important;margin-bottom:20px;font-size:18px;}

	/* Contact Modal */
	.contact-modal .modal-content 			{background:#f6f6f6;height:auto;padding:0px;border:none!important;-webkit-box-shadow: none!important;box-shadow:none!important;}
	.contact-modal .modal-content-container {padding:0px 30px 50px 30px;}							   
	.contact-modal .close-container 		{height:30px;padding-right:8px;padding-top:3px;}
	.contact-modal h1 						{font-weight:300!important;color:#666!important;}
	.contact-modal h5 						{font-weight:300!important;color:#888!important;margin-bottom:20px;font-size:18px;}

	/* Share Modal */
	.share-modal .modal-content 			{background:#f6f6f6;min-height:300px;height:auto;padding:0px;border:none!important;-webkit-box-shadow: none!important;box-shadow:none!important;}
	.share-modal .modal-content-container   {padding:0px 30px 50px 30px;}							   
	.share-modal .close-container 			{height:30px;padding-right:8px;padding-top:3px;}
	.share-modal h2 						{font-weight:300!important;margin:0px 0px 15px 0px;}
	.share-modal h4 						{font-weight:300!important;color:#888!important;margin-top:20px;font-size:18px;}

	/* Product */
	.product-modal {background:transparent;}
	.product-modal .product-container {display:block;padding:0px 40px 50px 40px;}
	.product-modal .modal-content { background:#f6f6f6;border:none!important;-webkit-box-shadow: none!important;box-shadow:none!important;overflow:hidden; }
	.product-modal .close-container {text-align:right;padding-bottom:35px;padding-top:5px;padding-right:10px;color:#999;}
	.product-modal .product-modal-title {font-size:20px;margin-top:0px;font-weight:400;color:#444444 !important;} 
	.product-modal .product-modal-image {display:block;width:100%;max-height:350px;background:#fff;padding:8px;border-top:1px solid rgba(0,0,0,0.1);border-left:1px solid rgba(0,0,0,0.1);border-right:1px solid rgba(0,0,0,0.1);-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.3);box-shadow: 0 2px 0 0 rgba(0,0,0,0.3);-webkit-border-radius: 6px;border-radius: 6px;}
	.product-modal .product-modal-no-image {margin-top:30px;margin-bottom:40px;color:#aaa;font-size:18px;text-align:center;}
	.product-modal .button-container {text-align:center;}
	.product-modal .product-modal-price {font-size:25px;font-weight:400;}
	.product-modal .product-modal-retailer {max-width:90px;border:1px solid #eaeaea;}
	.product-modal .btn {min-width:200px;font-weight:500;}
	.product-modal .product-modal-description {color:#555555 !important;}


#show-loading .show-loading 	{text-align: center;margin-top:100px;}

.medley-small                   {display:block;float:none;width:545px;min-height:280px;height:auto;}
.medley-medium                  {display:block;float:none;width:646px;min-height:450px;}
.medley-box 		 			{display:block;float:left;margin:0px 0px 5px 0px;position:relative!important;}
.medley-box-small  				{width:545px;min-height:280px;}
.medley-box-medium 				{width:646px;min-height:450px;}
.medley-hashtags  				{display:block;float:left;width:100%;min-height:35px;height:auto;padding:0px;margin-bottom:5px;text-align:center;}
.hashtag                        {float:left;margin-right:5px;margin-bottom:10px;}
.medley-info                    {display:block;float:left;width:100%;min-height:30px;border-bottom:1px solid rgba(0,0,0,0.05);padding-bottom:40px;}
.medley-info .view-button    	{font-weight:100!important;padding-right:10px;padding-left:10px;}
.medley-info .views  			{font-size:14px;margin-right:7px;}
.medley-info .votes    			{font-size:14px;margin-right:7px;}
.medley-info .author     		{font-size:14px;margin-right:7px;}
.medley-info .created   		{font-size:14px;margin-right:7px;}
.medley-info .share    		    {font-size:14px;}
.medley-item 					{text-align: center;}
.medley-item:hover 				{cursor:pointer;}
.medley-item:active 			{}
.medley-details   				{display:block;float:left;width:100%;min-height:30px;height:auto;padding:0px;text-align: center;}
.medley-votes     				{display:block;float:left;width:auto;height:30px;padding:0px 10px 0px 0px;text-align: left;}
.medley-views     				{display:block;float:left;width:auto;height:30px;padding:0px 5px 0px 0px;text-align: left;}
.btn-xl 						{padding:20px 40px;font-size:26px;-webkit-border-radius: 9px;border-radius: 9px;}
.btn-grey   					{background:rgba(0,0,0,0.05);color:#777!important;font-size:14px;}
.btn-grey:hover                 {background:rgba(0,0,0,0.05);color:#444;}
.btn-grey:active                {background:rgba(0,0,0,0.05);color:#444;}

/* Create Page */
#create-container 					{display:block;width:800px;min-height:450px;margin:40px auto 50px auto;}
#create-options   					{display:block;float:left;width:130px;padding-left:10px;}
#create-stage 	  					{display:block;float:left;width:648px;min-height:450px;margin:0px;padding:5px;}
#create-stage .medley-item:active   {-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.4)!important; box-shadow: 0 2px 0 0 rgba(0,0,0,0.4)!important;}
.gridster ul 						{list-style-type: none;}
.basket-item.basket-item-large img 	{position: absolute;z-index: 1;max-width:90%;max-height: 90%;margin-left: auto;margin-right: auto; margin-top: auto; margin-bottom: auto; left: 0; right: 0; top: 0; bottom: 0;}
#template-list         				{margin-top:5px;}
.template                           {height:54px;width:100px;background:#fff;padding:4px;margin-bottom:5px;-webkit-border-radius: 2px;border-radius: 2px;-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1); box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);border-top: 1px solid rgba(0,0,0,0.1);border-right: 1px solid rgba(0,0,0,0.1);border-left: 1px solid rgba(0,0,0,0.1);}
.template:hover                     {height:54px;width:100px;opacity:1;cursor:pointer;background:#fff;padding:4px;margin-bottom:5px;-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.3); box-shadow: 0 2px 0 0 rgba(0,0,0,0.3);border-top: 1px solid rgba(0,0,0,0.1);border-right: 1px solid rgba(0,0,0,0.1);border-left: 1px solid rgba(0,0,0,0.1);}
.template img 						{max-width:90px;-webkit-box-shadow:inset 0 0 2px 0 rgba(0,0,0,0.2);
box-shadow:inset 0 0 2px 0 rgba(0,0,0,0.2);}

/* Templates */
.a1 					 		{background:#f6f6f6;color:#666666;}
.a1, .a1 p, .a1 h1, .a1 h2, .a1 h3, .a1 h4, .a1 h5, .a1 h6, .a1 div, .a1 span {font-family:"proxima-nova",sans-serif;}
.a1 a  							{color:rgba(0,0,0,0.35);}
.a1 a:hover, .a1 a:hover i		{cursor:pointer;opacity:0.8;text-decoration: none;}
.a1 .btn 						{font-weight:400;}
.a1 .btn-primary 				{background:#7bb4f5!important;border:1px solid #7bb4f5!important;letter-spacing:0px;-webkit-box-shadow: 0 2px 0 0 #608fc5;box-shadow: 0 2px 0 0 #608fc5;color:#fff!important;}
.a1 .btn-primary:hover 		    {background:#93c4fc!important;border:1px solid #93c4fc!important;cursor:pointer;color:#fff!important;}
.a1 .btn-primary:active         {background:#558fd2!important;border:1px solid #558fd2!important;}
.a1 .btn-primary .caret			{color:#ffffff;}
.a1 .logo-container 			{height:60px;margin-top:10px;} 
.a1 .logo    		 			{color:#7bb4f5;margin:0px;font-weight:300;font-size:45px;letter-spacing: -3px;}
.a1 .menu 	  		 			{padding-top:20px;margin:0px;}
.a1 .menu li 		 			{padding:0px 5px;min-height:40px;font-weight:500;font-size:16px!important;letter-spacing:-0.5px!important;}
.a1 .menu a  		 			{font-weight:500;}
.a1 .profile-image 		 		{height:35px;width:35px;background:#7bb4f5;-webkit-box-shadow: 0 1px 0 0 #608fc5;box-shadow: 0 1px 0 0 #608fc5;font-size: 32px;text-align: center;padding:2px;font-weight:bold;}
.a1 .user-page-image            {background:#7bb4f5;-webkit-box-shadow: 0 2px 0 0 #608fc5;box-shadow: 0 2px 0 0 #608fc5;}
.a1 .show-medley-info-container {height:70px;}
.a1 .show-author-image-container{display:block;float:left;min-height:60px;width:50px;}
.a1 .show-author-image 	 		{max-width:50px;max-height:50px;background:#fff;padding:4px;border-top:1px solid #eaeaea;border-right:1px solid #eaeaea;border-left:1px solid #eaeaea;-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);}
.a1 .show-medley-info-subcontainer {display:block;float:left;min-height:60px;width:auto;min-width:300px;}
.a1 .show-author-container 	  	{display:block;height:20px;width:100%;margin-bottom:5px;}
.a1 .show-author-container a  	{font-size:18px;font-weight:400;}
.a1 .hashtag 	     			{background:#7bb4f5;font-size:18px;padding:3px 8px;border:1px solid #7bb4f5!important;letter-spacing:0px;-webkit-box-shadow: 0 2px 0 0 #608fc5;box-shadow: 0 2px 0 0 #608fc5;color:#fff!important;-webkit-border-radius:3px;border-radius:3px;}
.a1 .hashtag:hover 				{background:#93c4fc;border:1px solid #93c4fc!important;cursor:pointer;color:#fff;}
.a1 .hashtag:active 			{-webkit-box-shadow:none!important;box-shadow: none!important;background:#5985b7!important;border:1px solid #5985b7!important;}
.a1-embed .medley-box    		{}
.a1 .medley-box					{background:rgba(0,0,0,0.04);-webkit-border-radius: 6px;border-radius: 6px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);}
.a1 .medley-item  		 		{background:#ffffff; -webkit-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1); box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);border-top: 1px solid rgba(0,0,0,0.1);border-right: 1px solid rgba(0,0,0,0.1);border-left: 1px solid rgba(0,0,0,0.1);}
.a1 .medley-item:hover	  		{-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.4); box-shadow: 0 2px 0 0 rgba(0,0,0,0.4);}
.a1 .medley-item i	  			{position: absolute;z-index: 2;right:4px;top:2px;color:rgba(0,0,0,0.4);opacity:0.3;}
.a1 .medley-item i:hover  		{opacity:0.9;color:#f57e7b;cursor:pointer;}
.a1 .medley-item:active  		{margin-top:1px;-webkit-box-shadow: 0 0px 0 0 rgba(0,0,0,0.4); box-shadow: 0 0px 0 0 rgba(0,0,0,0.4);-webkit-box-shadow:inset 0 0 2px 1px rgba(0,0,0,0.2);box-shadow:inset 0 0 2px 1px rgba(0,0,0,0.2);}
.a1 .medley-item img		    {position: absolute;z-index: 1;max-width:90%;max-height: 90%;margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; left: 0; right: 0; top: 0; bottom: 0; -webkit-border-radius: 4px;border-radius: 4px; }
.a1 .footer p 		 	 	    {color:#bbb;font-family:"proxima-nova",sans-serif!important;text-align:right;font-weight:100;margin-top:20px;}

.a2 					 		{background:#444444;color:#666666;}
.a2, .a2 p, .a2 h1, .a2 h2, .a2 h3, .a2 h4, .a2 h5, .a2 h6, .a2 div, .a2 span {font-family:"proxima-nova",sans-serif;color:#ffffff;}
.a2 a  							{color:#bbbbbb;}
.a2 a:hover, .a2 a:hover i		{cursor:pointer;opacity:1;color:#ffffff;text-decoration: none;}
.a2 .btn 						{font-weight:400;}
.a2 .btn-primary 				{background:#f57b7b!important;border:1px solid #f57b7b!important;letter-spacing:0px;-webkit-box-shadow: 0 2px 0 0 #9e5555;box-shadow: 0 2px 0 0 #9e5555;color:#fff!important;}
.a2 .btn-primary:hover 		    {background:#fa9999!important;border:1px solid #fa9999!important;cursor:pointer;color:#fff;}
.a2 .btn-primary .caret			{color:#ffffff;}
.a2 .logo-container 			{height:60px;margin-top:15px;} 
.a2 .logo    		 			{color:#ffffff;margin:0px;font-weight:300;font-size:45px;letter-spacing: -3px;}
.a2 .menu 	  		 			{padding-top:20px;margin:0px;}
.a2 .menu li 		 			{padding:0px 5px;min-height:40px;font-weight:500;font-size:16px!important;letter-spacing:-0.5px!important;}
.a2 .menu a  		 			{font-weight:500;}
.a2 .profile-image 		 		{height:35px;width:35px;background:#f57b7b;-webkit-box-shadow: 0 1px 0 0 #9e5555;box-shadow: 0 1px 0 0 #9e5555;font-size: 32px;text-align: center;padding:2px;font-weight:bold;}
.a2 .user-page-image            {background:#f57b7b;-webkit-box-shadow: 0 2px 0 0 #9e5555;box-shadow: 0 2px 0 0 #9e5555;}
.a2 .show-medley-info-container {height:70px;}
.a2 .show-author-image-container{display:block;float:left;min-height:60px;width:50px;}
.a2 .show-author-image 	 		{max-width:50px;max-height:50px;background:#fff;padding:4px;border-top:1px solid #eaeaea;border-right:1px solid #eaeaea;border-left:1px solid #eaeaea;-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);}
.a2 .show-medley-info-subcontainer {display:block;float:left;min-height:60px;width:auto;min-width:300px;}
.a2 .show-author-container 	  	{display:block;height:20px;width:100%;margin-bottom:5px;}
.a2 .show-author-container a  	{font-size:18px;font-weight:400;}
.a2 .hashtag 	     			{background:#f57b7b;font-size:18px;padding:3px 8px;border:1px solid #f57b7b!important;letter-spacing:0px;-webkit-box-shadow: 0 2px 0 0 #9e5555;box-shadow: 0 2px 0 0 #9e5555;color:#fff!important;-webkit-border-radius:3px;border-radius:3px;}
.a2 .hashtag:hover 				{background:#fa9999;border:1px solid #fa9999!important;cursor:pointer;color:#ffffff!important;}
.a2 .hashtag:active 			{-webkit-box-shadow:none!important;box-shadow: none!important;background:#da6d6d!important;border:1px solid #da6d6d!important;}
.a2-embed .medley-box           {}
.a2 .medley-box            		{background:#3d3d3d;-webkit-border-radius: 6px;border-radius: 6px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);}
.a2 .medley-item           		{background:#ffffff; -webkit-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.8); box-shadow: 0 2px 0 0 rgba(0,0,0,0.8);border-top: 1px solid rgba(0,0,0,0.1);border-right: 1px solid rgba(0,0,0,0.1);border-left: 1px solid rgba(0,0,0,0.1);}
.a2 .medley-item:hover   		{-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.8); box-shadow: 0 2px 0 0 rgba(0,0,0,0.8);}
.a2 .medley-item i          	{position: absolute;z-index: 2;right:4px;top:2px;color:rgba(0,0,0,0.4);opacity:0.3;}
.a2 .medley-item i:hover  		{opacity:0.9;color:#f57e7b;cursor:pointer;}
.a2 .medley-item:active  		{margin-top:1px;-webkit-box-shadow: 0 0px 0 0 rgba(0,0,0,0.4); box-shadow: 0 0px 0 0 rgba(0,0,0,0.4);-webkit-box-shadow:inset 0 0 2px 1px rgba(0,0,0,0.2);box-shadow:inset 0 0 2px 1px rgba(0,0,0,0.2);}
.a2 .medley-item img 			{position: absolute;z-index: 1;max-width:90%;max-height: 90%;margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; left: 0; right: 0; top: 0; bottom: 0; -webkit-border-radius: 4px;border-radius: 4px; }
.a2 .footer p 		 	 	    {color:#bbb;font-family:"proxima-nova",sans-serif!important;text-align:right;font-weight:100;margin-top:20px;}


