<p class="close-container"><button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size:25px;" ng-click="close()">&times;</button></p>
<div class="modal-content-container">
	<h1 class="st-centered">Contact Us</h1>
	<h5 class="st-centered">If you have questions, feedback or support issues, feel free to contact us :)</h5>
	<p class="st-centered" style="padding:0px;margin:15px 0px;"><a class="btn btn-primary btn-lg" href="mailto:hello@mdly.co"> Email Us</a></p>
	<p class="st-centered"><span class="m-link" syle="font-size:18px;" ng-click="close()">Cancel</span></p>
</div>