<div class="row">
	<div class="col-md-6">
		<img class="product-modal-image" ng-src="{{product.images.large}}" draggable="false">
		<hr>
		<p class="button-container"><a href="{{ product.link }}" class="btn btn-lg btn-blue" target="_blank">Buy</a></p>
		<p class="button-container" ng-click="hideProductPopup()"><button class="btn btn-lg btn-primary">Close</button></p>
	</div>
	<div class="col-md-6">
		 <h1 class="product-modal-title">{{ product.title | limitTo:120 }}</h1>
		 <hr>
		 	<span class="product-modal-price">${{ product.price_new }}</span><img class="product-modal-retailer pull-right" src="img/{{ product.retailer | lowercase }}_logo.png" draggable="false"></h3>
		 <hr>
		 <p class="product-modal-description" ng-show="product.description">
		 	{{ product.description }}
		 </p>
		 <p class="product-modal-description" ng-hide="product.description">
		 	(Description Currently Unavailable)
		 </p>
	</div>
</div>