<p class="close-container"><button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size:25px;" ng-click="close()">&times;</button></p>
<div class="modal-content-container">
	<h1 class="st-centered">Share Your New Medley!</h1>
	<h5 class="st-centered">Your Medley was successfully published.  Now, show the world!</h5>
	<p class="st-centered" style="padding:0px;margin:15px 0px;"><button class="btn btn-primary btn-lg" share-facebook-link="{{ medley.short_id }}"><i class="fa fa-facebook-square" style="margin-right:3px"></i> Share On Facebook</button></p>
	<p class="st-centered"><span class="m-link" syle="font-size:18px;" ng-click="close()">Cancel</span></p>
	<div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-type="button"></div>
</div>