<p class="close-container"><button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size:25px;" ng-click="close()">&times;</button></p>
<div class="modal-content-container">
	<h2 class="st-centered">Share This Medley</h2>
	<tabset>
	    <tab heading="Facebook">

	    		<h4 class="st-centered">Share On Facebook</h4>
	    		<p class="st-centered">
	    			<button class="btn btn-primary btn-lg" ng-click="shareFacebook()"><i class="fa fa-facebook-square" style="margin-right:3px"></i> Share On Facebook</button>
	    		</p>

	    </tab>
	    <tab heading="Embeddable Widget">
	    		<h4 class="st-centered">Embed On Your Website</h4>
	    		<p class="st-centered">Copy the code below and paste it into your website's source code</p>
	    		<div class="well" style="background:#ffffff;overflow:auto;width:80%;margin:0px auto">
	    			<code>
	    				&#60;div class="MDLY MDLYa1" data-id="{{ medley.short_id }}"&#62;&#60;/div&#62;<br/>
	    				&#60;script async src="http://mdly.co/scripts/medleywidgets.js" charset="utf-8"&#62;&#60;/script&#62;
	    			</code>
	    		</div>
	    </tab>

  	</tabset>
</div>