<p class="close-container"><button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size:25px;" ng-click="close()">&times;</button></p>
<div class="modal-content-container">
	<h1 class="st-centered">Please Sign In</h1>
	<h5 class="st-centered" style="margin-bottom:0px;">We'll never post to your wall.</h5>
	<h5 class="st-centered">We offer this because it's simply the fastest way to sign up!</h5>
	<p class="st-centered"><a href="#" class="btn btn-blue btn-lg" facebook-sign-in-link>Sign In With Facebook</a></p>
</div>
