    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            
            <div class="row">
                <div id="title-tab" class="col-md-2">
                    <h1 ng-href="/"><span style="font-weight:300;letter-spacing:-1px;">Better</span><span style="font-weight:600;letter-spacing:-1px;">Town</span></h1>
                </div>
                <div class="col-md-10" style="padding-right:0px;">
                    <!-- Authenticated -->
                    <ul id="header-menu" class="list-inline pull-right top-bar" ng-if="user">
                        <li>
                           <img class="header-image img-circle" draggable="false" src="http://graph.facebook.com/{{user.username}}/picture?type=large" ng-if="user"> {{user.name}}
                        </li>
                        <li>
                            <a href="/signout">Sign Out</a>
                        </li>
                    </ul>
                    <!-- UnAuthenticated -->
                     <ul class="list-inline pull-right top-bar" ng-if="!user">
                        <li>
                            <a id="facebook-login-link" href="#" ng-click="loginFacebook($event)">Sign In With Facebook</a>
                        </li>
                    </ul>
                </div>

            </div> <!-- row -->

            <div class="row">
                <div id="search-container" class="col-md-12">
                    <div class="row">
                        <div class="col-md-5">
                              <input type="text" class="form-control input-lg" ng-model="chosenPlace" placeholder="Enter A Town" googleplace>
                        </div>
                        <div class="col-md-7">
                            <button class="btn btn-primary mZoomIn btn-lg pull-right" ng-click="reportIssue()" style="margin-left:10px;"><i class="fa fa-exclamation-circle" style="padding-right:4px;"></i> Report Issue in {{town.place_object.name}}</button>
                            <button class="btn btn-default btn-lg pull-right hide" ng-click="removeIssues()" ng-show="town.issues">Clear Issues</button>
                        </div>  
                    </div>                              
                </div> <!-- #search-container -->
            </div> <!-- .row -->

        </div> <!-- col-md-offset-1 col-md-10 -->
    </div><!-- .row -->

