    <div class="row">
        <div class="col-md-12">
            
            <!-- Logo & Profile Container -->
            <div class="row logo-container">
                <div class="col-md-12">
                    <a class="logo" ui-sref="home">medley</a>
                    <ul class="list-inline pull-right menu">
                        <!-- Authenticated -->
                        <li ng-if="user">
                            <img class="img-circle profile-image" draggable="false" ng-src="http://graph.facebook.com/{{user.username}}/picture?type=large" ng-if="user" ui-sref="profile"> <a ui-sref="user({ username: user.username })">{{user.name}}</a>
                        </li>
                        <li ng-if="user">
                            <a href="/signout">Sign Out</a>
                        </li>
                        <!-- UnAuthenticated -->
                        <li ng-if="!user">
                            <a facebook-sign-in-link>Sign In With Facebook</a>
                        </li>
                    </ul>
                </div>
            </div> <!-- row -->

        </div> <!-- col-md-offset-1 col-md-10 -->
    </div><!-- .row -->