    <div class="row">
        <div class="col-md-12">
            
            <!-- Logo & Profile Container -->
            <div class="row logo-container">
                <div class="col-md-12">
                    <a class="logo" ui-sref="home"><img ng-src="img/logo.png"></a>
                    <ul class="list-inline pull-right menu">
                        <!-- Authenticated -->
                        <li ng-if="user">
                            <img class="img-circle profile-image" draggable="false" ng-src="http://graph.facebook.com/{{user.username}}/picture?type=large" ng-if="user" ui-sref="profile"> <a ui-sref="user({ username: user.username })">{{user.name}}</a>
                        </li>
                        <li ng-if="user">
                            <a href="/signout">Sign Out</a>
                        </li>
                        <!-- UnAuthenticated -->
                        <li ng-if="!user">
                            <a facebook-sign-in-link>Sign In With Facebook</a>
                        </li>
                    </ul>
                </div>
            </div> <!-- row -->

            <!-- Search Container -->
            <div class="row" ng-if="status.status">
              <div class="status col-md-6">
                 <p><i class="fa fa-refresh fa-spin" ng-show=" status.icon == 'refresh' "></i><i class="fa fa-times-circle" ng-show=" status.icon == 'error' "></i><span>{{ status.message }}</span> </p>
              </div>
            </div>
            <form>
                <div class="row">
                    <div id="search-container" class="col-md-7">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">{{ retailer }} <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                  <li><a ng-click="setRetailer('All Retailers')">All Retailers</a></li>
                                  <li class="divider"></li>
                                  <li><a ng-click="setRetailer('Amazon')">Amazon</a></li>
                                  <li><a ng-click="setRetailer('Etsy')">Etsy</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                          <input type="text" class="form-control input-lg" name="search_keywords" ng-model="search_keywords" placeholder="Enter A Product"> 
                          <span class="input-group-btn">
                            <button class="btn btn-primary btn-lg" ng-click="searchRetailers(search_keywords)"><i class="fa fa-search"></i> Search</button>
                          </span>
                        </div><!-- /input-group -->
                    </div>
                </div> <!-- .row -->
                <div class="row" ng-if=" retailer == 'Etsy' ">
                    <div id="etsy-store-container" class="col-md-4">
                      <input id="etsy-store-id-field" type="text" class="form-control input-lg st-shadow" name="etsy_store_id" ng-model="etsy_store_id" placeholder="Etsy Store Name (Optional)"> 
                    </div>
                </div>
              <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
            </form>

        </div> <!-- col-md-offset-1 col-md-10 -->
    </div><!-- .row -->

