    <div class="row">
        <div class="col-md-12">
            
            <!-- Logo & Profile Container -->
            <div id="header-row" class="row">
                <div id="header-container" class="col-md-12">
        			<a id="logo" ui-sref="home">medley</a>
        			<!-- Authenticated -->
                    <ul id="header-menu" class="list-inline pull-right top-bar" ng-if="user">
                        <li>
                           <img id="header-profile-image" class="img-circle" draggable="false" ng-src="http://graph.facebook.com/{{user.username}}/picture?type=large" ng-if="user" ui-sref="profile"> <span class="m-link" ui-sref="profile">{{user.name}}</span>
                        </li>
                        <li>
                            <a href="/signout">Sign Out</a>
                        </li>
                    </ul>
                    <!-- UnAuthenticated -->
                     <ul class="list-inline pull-right top-bar" ng-if="!user">
                        <li>
                            <p id="facebook-login-link" facebook-sign-in-link>Sign In With Facebook</p>
                        </li>
                    </ul>	
                </div>
            </div> <!-- row -->

        </div> <!-- col-md-offset-1 col-md-10 -->
    </div><!-- .row -->

