  <div id="footer" class="row">
    <div class="col-md-12">
      <p>Medley © 2014</p>
    </div>
  </div>

<!-- Universal Modals -->
	
<div id="signInModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      	<h1 class="st-centered">Please Sign In</h1>
      	<h5 class="st-centered" style="margin-bottom:0px;">We'll never post to your wall.</h5>
        <h5 class="st-centered">We offer this because it's simply the fastest way to sign up!</h5>
      	<p class="st-centered"><a href="#" ng-click="loginFacebook( $event )" class="btn btn-blue btn-lg">Sign In With Facebook</a></p>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="hashtagModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
        <h1 class="st-centered">Add Hashtags</h1>
        <h5 class="st-centered">Separate them with spaces. At least one is required.</h5>
        <p class="alert alert-danger st-centered" ng-show="hashtag_error">{{ hashtag_error }}</p>
        <div contenteditable="true" id="hashtags-input" class="form-control" ng-keyup="validateHashtags()" maxlength="200"/>
        <p class="st-centered" style="margin-bottom:20px;"><a href="#" class="btn btn-blue btn-lg" ng-click="publishBasket($event)"><i class="fa fa-check"></i> Publish</a></p>
        <p class="st-centered"><a href="#" data-dismiss="modal">Cancel</a></p>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

