extends layouts/default

block content
  section.container
    div(ui-view="header",  autoscroll="false")
    div(ui-view="content", autoscroll="false")
    div(ui-view="footer",  autoscroll="false")
  #fb-root
