extends layouts/tests

block content
	.test(style="display:block;width:70%;min-height:400px;margin:90px auto 0px auto;")
		h2(style="margin:10px 0px;") Widgets
			.MDLY.MDLYa1(data-id="ImGjb2")
	.test(style="display:block;width:70%;min-height:400px;margin:90px auto 0px auto;")
			.MDLY.MDLYa1(data-id="ImGjb2")
	.test(style="display:block;width:70%;min-height:400px;margin:90px auto 0px auto;")
			.MDLY.MDLYa1(data-id="ImGjb2")
	.test(style="display:block;width:70%;min-height:400px;margin:90px auto 0px auto;")
			.MDLY.MDLYa1(data-id="ImGjb2")
	.test(style="display:block;width:70%;min-height:400px;margin:90px auto 0px auto;")
			.MDLY.MDLYa1(data-id="ImGjb2")

