doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
	

	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width,initial-scale=1')

		title= 'Medley - The New Shopping Cart!'
		meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
		meta(name="keywords", content="medley, clothing, products, collection, etsy, amazon, shopping, cart")
		meta(name="description", content="Medley - The New Shopping Cart!")

		link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')

		meta(property='fb:app_id', content='178967315635111')
		meta(property='og:title', content='Medley')
		meta(property='og:description', content='Combine the products you love into custom collections to share and monetize!')
		meta(property='og:type', content='website')
		meta(property='og:url', content='http://mdly.co')
		meta(property='og:image', content='/img/logo_square.png')
		meta(property='og:site_name', content='Medley - The New Shopping Cart!')

	body()
		block content

	script(type='text/javascript', src='/scripts/medleywidgets.js')
